/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: '100%';
}

.App {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

:root {
  --side-menu-width: 200px;
  --color-main-background: #f6f6f6;
  --color-container-background: #fff;
  --color-text-secondary: #6a6a6a;
}
