/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: '100%';
}

.App {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

:root {
  --color-darkest: #1e1e1e;
  --color-dark: #252526;
  --color-medium-dark: #2d2d30;
  --color-light-dark: #3e3e42;
  --color-primary-main: #007acc;

  --color-secondary-main: #150050;

  --side-menu-width: 200px;
  --color-main-background: #f2f2f2;
  --color-main-background-dark: var(--color-darkest);

  --color-container-background: #fff;
  --color-text-secondary: #6a6a6a;

  --container-border: #e8e8e8;
}
